<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CursoFLFConnectionString"
        connectionString="Data Source=(localdb)\Projects;Initial Catalog=CursoFLF;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="CursoFLF.EntityFrameworkExample.ConnectionString"
        connectionString="Data Source=(localdb)\Projects;Database=efcodefirst;Trusted_Connection = false;User Id=sa;
                          Password=sa;Persist Security Info = true;MultipleActiveResultSets = True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>